html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #e7f8fd;
    height: 100%;
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
}

.col-1-6,
.col-2-6,
.col-3-6,
.col-4-6,
.col-5-6,
.col-6-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: inline-block;
}

.col-1-6 {
    max-width: 15.6666%;
}

.col-2-6 {
    max-width: 32.333333%;
}

.col-3-6 {
    max-width: 49%;
}

.col-4-6 {
    max-width: 65.666667%;
}

.col-5-6 {
    max-width: 82.333333%;
}

.col-6-6 {
    max-width: 99%;
}

.title {
    background-color: #032b5c;
    color:white;
}

.foto {
    float: right;
    height: 120%;
    width: 100%;
    object-fit: scale-down;
}

.tail{
    margin:0em;
}

.button{
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
    border-radius: 5px;
    padding:9px;
}

.button:focus{
    cursor: pointer;
}

.right-content{
    float: right;
    margin-right: 1%;
    margin-bottom: 20px;
}