.table-row {
    margin: left;
    margin-bottom: 10em;
}

table {
    width: 98%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom:1em;
    margin-top:1em;
    float: left;
}

table,
th,
td {
    border: 1px solid rgb(51, 28, 114);
    border-collapse: collapse;
    font-weight: normal;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.table-content tr:nth-child(even) {
    background-color: #eee;
}

.table-content tr:nth-child(odd) {
    background-color: #fff;
}

.table-content th {
    background-color: #032b5c;
    color: white;
}

.text{
    margin-bottom: 0em;
    margin-top: 1em;
    margin-right:2em;
    margin-left: 1em;
    color:#032b5c;
}

.author{
    background-color: #5592dd;
    color: white;
}