.table-row {
    margin: left;
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    table {
        width: 90%;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        float: left;
    }
}

@media (min-width: 801px) {
    table {
        width: 48%;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        float: left;
    }
}

table,
th,
td {
    border: 1px solid rgb(51, 28, 114);
    border-collapse: collapse;
    font-weight: normal;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.table-content tr:nth-child(even) {
    background-color: #eee;
}

.table-content tr:nth-child(odd) {
    background-color: #fff;
}

.table-content th {
    color: white;
}

.text {
    margin-bottom: 0em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
    color: #032b5c;
}
.left-color-text{
    background-color: #032b5c;
}
.right-color-text{
    background-color: #9b2305;
}